/*
 * Social Links Molecule Component Styles
 *
 */

.social-links {
  margin: $spacing-xxxxl * 1.5 auto 0 2px;

  &__list {
    display: flex;
    justify-content: space-between;
    width: 240px;
    list-style: none;
    padding: 0;
    margin: 0 auto;

    & li {
      padding: 0;
      margin: 0;

      & a {
        background: transparent;
        padding: 0;
        margin: 0;

        svg {
          fill: $brand-light;
          width: 40px;
          height: 40px;
          padding: 0;
          margin: 0;
          padding-bottom: 3px;
          transition: all 100ms ease-in-out;

          &.instagram {
            margin-right: 1px;
          }
        }

        &:hover,
        &:active,
        &.focus-visible {
          background: transparent;
          text-decoration: none;

          & svg {
            fill: $brand-accent;
          }
        }
      }
    }
  }
}
