---
import "@/components/base/globals.css"
import "@fontsource-variable/inter" // Supports weights 100-900
import "@fontsource-variable/raleway" // Supports weights 100-900
import "@fontsource/rammetto-one" // Supports only weight 400
import {
	FaEnvelope,
	FaLinkedinIn,
	FaGithub
} from "react-icons/fa6"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>
			SEED Studio - Creating value through innovative
			digital experiences
		</title>
		<meta
			name="description"
			content="Creating value through innovative digital experiences."
		/>
		<meta
			property="og:title"
			content="SEED Studio - Creating value through innovative digital experiences"
		/>
		<meta property="og:site_name" content="SEED Studio" />
		<meta property="og:type" content="website" />
		<meta
			property="og:url"
			content="https://weareseed.studio"
		/>
		<meta property="og:locale" content="en_UK" />
		<link rel="canonical" href="https://weareseed.studio" />
		<meta
			property="og:url"
			content="https://weareseed.studio"
		/>
		<meta
			property="og:image"
			content="/thumbnail_1200x630.png"
		/>
		<meta
			property="og:image:secure_url"
			content="/thumbnail_1200x630.png"
		/>
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		<meta property="og:image:type" content="image/png" />
		<meta name="twitter:site" content="@weareseedstudio" />
		<meta
			name="twitter:creator"
			content="@weareseedstudio"
		/>
		<meta
			name="twitter:title"
			content="SEED Studio - Creating value through innovative digital experiences"
		/>
		<meta
			name="twitter:description"
			content="Creating value through innovative digital experiences."
		/>
		<meta
			name="twitter:image"
			content="/thumbnail_1200x630.png"
		/>
		<meta
			name="twitter:image:alt"
			content="preview thumbnail of website weareseed.studio"
		/>
	</head>
	<body
		class="grid align-middle content-center h-full w-full min-h-screen min-w-[320px] bg-seed-dark-950 text-seed-light-100 p-1"
	>
		<main class="flex flex-col w-full max-w-[50rem] m-auto">
			<h1
				class="font-display font-black flex align-middle text-[10rem] leading-none tracking-normal ml-0"
			>
				<span class="text-[11.25rem] mt-[-0.75rem]">S</span
				>EED
				<span
					class="font-symbol text-seed-tangerine-600 mt-[0.5rem] ml-[-0.4rem]"
					>.</span
				>
			</h1>
			<p
				class="font-body text-5xl leading-tight font-extrabold ml-2"
			>
				Creating value through innovative digital
				experiences
			</p>
			<ul class="flex gap-8 ml-2 mt-20">
				<li class="link">
					<a
						href="mailto:hello@weareseed.studio"
						target="_blank"
						rel="noopener"
						><span class="sr-only"
							>contact us via email at
							hello@weareseed.studio</span
						><FaEnvelope className="scale-105" /></a
					>
				</li>
				<li class="link">
					<a
						href="https://www.linkedin.com/company/weareseed"
						target="_blank"
						rel="noopener"
						><span class="sr-only"
							>connect with us on linkedin</span
						><FaLinkedinIn className="scale-110" /></a
					>
				</li>
				<li class="link">
					<a
						href="https://github.com/weareseedstudio"
						target="_blank"
						rel="noopener"
						><span class="sr-only"
							>view our projects on github</span
						><FaGithub
							className="scale-95 ml-[-0.35rem]"
						/></a
					>
				</li>
			</ul>
		</main>
		<footer
			class="w-full max-w-[50rem] pb-4 ml-auto mr-auto"
		>
			<p class="ml-1">
				<small
					><strong
						><span>&copy;</span>
						{new Date().getFullYear()} \ v2.0.0</strong
					></small
				>
			</p>
		</footer>
	</body>
</html>

<style is:global>
	li {
		display: grid;
		align-items: center;
		justify-content: center;
	}

	p a:hover,
	p a:focus,
	p a:focus-visible {
		transition: border 0.2s ease-in-out;
	}

	li a svg {
		width: 2rem;
		height: 2rem;
		margin: auto 0;
	}

	li a:hover svg,
	li a:focus svg,
	li a:focus-visible svg {
		transition: color 0.2s ease-in-out;
		color: #ff5500;
	}

	footer {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
</style>
