/*
 * PageTemplate Template Component Styles
 *
 */

// .pagetemplate {}

// Temp page styling for landing page

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

main {
  display: grid;
  padding: 0;
  margin: auto 0;
}

.content {
  max-width: 800px;
  padding: 2rem 0 0;
  margin: auto auto auto 20vw;

  h1 {
    font-size: 3.2rem;
    margin: 1rem 0 4rem;
  }

  a {
    svg {
      fill: $brand-light;
      margin-bottom: 4px;
    }

    border-bottom: solid 3px $brand-accent;

    &:hover {
      background: none;
      svg {
        fill: $brand-accent;
      }
      border-color: $brand-light;
    }
  }
}

.footer {
  &__inner {
    margin: 0;

    & hr {
      width: 94vw;
      margin: 1rem auto;
    }
  }

  &__text {
    padding: 0 0 2rem;
    margin: auto auto auto 20vw;
  }
}
